<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%12logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${REMDER_LOG:-error}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
